<!DOCTYPE>
<html>
<head>
  <%= wicked_pdf_stylesheet_link_tag 'application.css' %>
</head>
<body>
<h1> <%= @collection.name %></h1>
<%= @collection.description %>

<% @collection.documents.each do |doc| %>
<section>
  <h1><%= doc.title %></h1>
    <p><i>Location: <%= doc.location %>
    <% if doc.background %>
    Background: <%= doc.background %>
    <% end %>
    Publication Date: <%= doc.publication_date %></i></p>

  <% doc.content.split("\n").each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>
</section>
<% end %>
</body>
</html>
