<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @primary_document.title %>
</p>

<p>
  <b>Location:</b>
  <%= @primary_document.location %>
</p>

<p>
  <b>Content:</b>
  <%= @primary_document.content %>
</p>

<p>
  <b>Background:</b>
  <%= @primary_document.background %>
</p>

<p>
  <b>Publication date:</b>
  <%= @primary_document.publication_date %>
</p>


<%= link_to 'Edit', edit_primary_document_path(@primary_document) %> |
<%= link_to 'Back', primary_documents_path %>
