
<%- model_class = Document -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @document.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location) %>:</strong></dt>
  <dd><%= @document.location %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><%= @document.content %></dd>
  <dt><strong><%= model_class.human_attribute_name(:background) %>:</strong></dt>
  <dd><%= @document.background %></dd>
  <dt><strong><%= model_class.human_attribute_name(:publication_date) %>:</strong></dt>
  <dd><%= @document.publication_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:author_id) %>:</strong></dt>
  <dd><%= @document.author_id %></dd>
</dl>

<%= link_to "Preview", document_path(@document, :format => :pdf), :target => "_blank" %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              documents_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_document_path(@document), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              document_path(@document),
              :method => 'delete',
              :confirm => 'Are you sure?',
              :class => 'btn btn-danger' %>
</div>
