<!DOCTYPE>
<html>
<head>
  <%= wicked_pdf_stylesheet_link_tag 'application-print.css' %>
</head>
<body id="pdf">
<section>
  <h1><%= @document.title %></h1>
  <% if @document.author %>
  <p class="author"><i><%= @document.author.full_name %>. <%= @document.author.born_died %></i></p>
  <% end %>
  <p class="location-date"><i>
    <%= "#{@document.location}, " if @document.location %>
    <%= @document.publication_date.strftime("%-m %b %Y") if @document.publication_date %>
  </i></p>

  <div class="content">
  <% @document.content.split("\n").each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>
  </div>
  <p class="citation"><%#= @document.primary_collection.citation.html_safe %>: p <%= @document.citation %>.</p>
</section>
</body>
</html>
